<form method="post" action="?doit={{$action}}" >
    <h3 id="error-block">{{$message}}</h3>
    <table>
        <tr><input name="id" type="hidden" value="{{$id}}"></tr>
        <tr><td align="right">Name:</td><td><input name="firstName" type="text" value="{{$name}}"></td></tr>
        <tr><td align="right">Surname:</td><td><input name="lastName" type="text" value="{{$sur}}"></td></tr>
        <tr><td align="right">Telephone number:</td><td><input name="phone1" type="text" value="{{$telephone1}}"></td></tr>
        <tr><td align="rigth"></td><td><input name="phone2" type="text" value="{{$telephone2}}"></td></tr>
        <tr><td align="rigth"></td><td><input name="phone3" type="text" value="{{$telephone3}}"></td></tr>
        <tr></tr>
        <tr><td></td><td align="right"><input type="submit" value="Submit" name="submit-button"></td></tr>
    </table>
</form>
