<h3>{{$message}}</h3>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Surname</td>
            <td>Telephone number</td>
        </tr>
    </thead>
    <tbody tpl-foreach="$contact_data as $hjhj">
        <tr>
            <td width="33%" align="left"><a href="index.php?doit=edit&amp;person_id={{$hjhj->id_con}}">{{$hjhj->name}}</a></td>
            <td width="33%" align="left">{{$hjhj->lastname}}</td>
            <td width="33%" align="left">{{$hjhj->phones}}</td>
        </tr>
    </tbody>
</table>