<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="Style.css" rel="stylesheet">
        <title>Phone directory</title>
    </head>
    <body>
        <menu><a id="list-page-link" title="Click to view contacts" href="?doit=contacts">Contacts</a>&nbsp;|&nbsp;<a  id="add-page-link" title="Click to add contacts" href="?doit=add">Add contact</a></menu>
        <div tpl-include="{{$form_or_table}}"></div>
        <div>Deniss Vakilov&nbsp;&copy; 2018-{{ $current_year }}</div>
    </body>
</html>